<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" action="/book/add" th:object="${book}">
    <label for="title">Название</label>
    <input type="text" th:field="${book.title}" id="title">
    <div style="color:red" th:if="${#fields.hasErrors()}" th:errors="*{title}"></div>
    <br>
    <label for="author">Автор</label>
    <input type="text" th:field="${book.author}" id="author">
    <div style="color:red" th:if="${#fields.hasErrors()}" th:errors="*{author}"></div>
    <br>
    <label for="year">Год</label>
    <input type="text" th:field="${book.year}" id="year">
    <div style="color:red" th:if="${#fields.hasErrors()}" th:errors="*{year}"></div>

    <input type="submit">
</form>
<a href="/book">Вернуться к списку книг</a>
</body>
</html>