<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Год</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td><a th:href="@{/book/{id}(id=${book.id})}" th:text="${book.id}">Id</a> </td>
        <td><span th:text="${book.getTitle()}">Title</span> </td>
        <td><span th:text="${book.getAuthor()}">Author</span> </td>
        <td><span th:text="${book.getYear()}">Year</span> </td>
    </tr>
    </tbody>
</table>
<a href="/book/add">Добавить новую книгу</a>
<br>
<a href="/person/">Список читателей</a>
</body>
</html>