<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>ФИО</th>
        <th>Год рождения</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person: ${people}">
        <td><a th:href="@{/person/{id}(id=${person.id})}" th:text="${person.id}">Id</a> </td>
        <td><span th:text="${person.FIO}">ФИО</span> </td>
        <td><span th:text="${person.yearOfBirth}">Год рождения</span> </td>
    </tr>
    </tbody>
</table>
<a href="/person/add">Добавить нового посетителя</a>
<br>
<a href="/book">Список книг</a>
</body>
</html>